@import 'variables';
@import 'mixin';
@mixin fullscreen-size {
    width: 100%;
    min-height: 400px;
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    padding-top: $navbar-height;

    @include for-only-phone {
        padding-top: 0;
        margin-top: 10px;
    }
}
@mixin mobile-block {
    padding: 30px 15px;
    padding-top: $navbar-height;
}