$font-family: 'Roboto', Helvetica, sans-serif;
$background-color: #2F2F2F;
$b: #484747;
$background2-color: lighten($background-color, 10%);
$navbar-background-color: mix($background-color, $background2-color, 50%);
$font-color: invert($navbar-background-color);
$link-hover-font-color: lighten($font-color,20%);
$navbar-height: 80px; 