/* You can add global styles to this file, and also import other style files */
//@import 'scss-reset/_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'app/scss/mixin';

* {
    background-color: transparent;
    @include default-transition;
}

html,body {
    @include default-font;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background-color: $background-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


markdown {
    p {
        line-height: 1.0;
    }
}


button {
    padding: 0;
    border: 0;
    margin: 0;
}


a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    font-display: inherit;
    font-variant: inherit;
}